read stations into dataframe

In [18]:
import pandas as pd
import csv
import os 

#establish dataframes
import_data = os.path.join("CTA_list_of_L_stops.csv")
import_data2 = os.path.join("CTA_ridership_daily_totals.csv")

stops_df = pd.read_csv(import_data)
rider_df = pd.read_csv(import_data2)

stops_df

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,30105,N,Wilson (Howard-bound),Wilson,Wilson (Red & Purple Lines),40540,True,True,False,False,False,False,False,False,False,False,"(41.964273, -87.657588)"
296,30239,N,Addison (O'Hare-bound),Addison,Addison (Blue Line),41240,True,False,True,False,False,False,False,False,False,False,"(41.94738, -87.71906)"
297,30106,S,Wilson (95th-bound),Wilson,Wilson (Red & Purple Lines),40540,True,True,False,False,False,False,False,False,False,False,"(41.964273, -87.657588)"
298,30383,N,Washington/Wabash (Outer Loop),Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",41700,True,False,False,True,True,False,False,False,False,False,"(41.88322, -87.626189)"
299,30385,S,Wilson (Loop-bound),Wilson,Wilson (Red & Purple Lines),40540,True,False,False,False,False,False,True,False,False,False,"(41.964273, -87.657588)"

In [8]:
stops = len(pd.unique(stops_df['MAP_ID']))
stops

143

In [21]:
df = pd.merge(rider_df, stops_df, how='left', left_on='station_id', right_on='MAP_ID')
df[df['latitude'] < 41.881]['rides'].sum()

KeyError: 'latitude'

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [57]:
database_path = "/Census.Data.sqlite"
engine = create_engine("sqlite:///Census_Data.sqlite")
conn = engine.connect()
conn

In [60]:
# reflect an existing database into a new model
# Reflecting a database into a new model essentially means to transfer the contents of the database into a different structure of data. 
Base = automap_base()
# reflect the tables
# prepare() function. By adding this code, we'll reflect the schema of our SQLite tables into our code and create mappings.
Base.prepare(engine, reflect=True)

session = Session(engine)
session

In [61]:
Base.classes.keys()

[]

In [92]:
import pandas as pd
import re

dracula_df = pd.read_csv('dracula.txt', sep ='[\r\n]+', header=None, engine='python')
dracula_df.columns = ['text']
dracula_df

p = 'vampire\s+(\w+)'
dracula_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

sleep      3
in         2
was        1
which      1
kind       1
live       1
can        1
meant      1
is         1
coming     1
baptism    1
of         1
Name: 0, dtype: int64

In [87]:
import pandas as pd
import

                                                    text
0                                                DRACULA
1                                                DRACULA
2                                                   _by_
3                                            Bram Stoker
4                               [Illustration: colophon]
...                                                  ...
13046  know what a brave and gallant woman his mother...
13047  sweetness and loving care; later on he will un...
13048  loved her, that they did dare much for her sake."
13049                                   JONATHAN HARKER.
13050                                            THE END

[13051 rows x 1 columns]

In [94]:
l_stops_df = pd.read_csv('CTA_list_of_L_stops.csv')
station_bools = l_stops_df[['MAP_ID','ADA','RED','BLUE','G','BRN','P','Pexp','Y','Pnk','O']].groupby('MAP_ID').any()
l_stations_df = l_stops_df[['MAP_ID','STATION_NAME','STATION_DESCRIPTIVE_NAME','Location']] \
    .merge(station_bools, how='left', left_on='MAP_ID', right_index=True).drop_duplicates()

In [95]:
l_stations_df[['latitude','longitude']] = \
   l_stations_df['Location'].str.replace('\(|\)','',regex=True) \
   .str.split(',', expand=True).apply(pd.to_numeric)
l_stations_df.drop('Location', axis=1, inplace=True)

In [96]:
ridership_df = pd.read_csv('CTA_ridership_daily_totals.csv')

In [99]:
engine = create_engine(f"postgresql://postgres:postgres@localhost:5432/cta_db")
l_stations_df.to_sql(name='stations', con=engine, index=False)
ridership_df.to_sql(name='ridership', con=engine, index=False)

ModuleNotFoundError: No module named 'psycopg2'